body {
  margin: 0;
  overflow: hidden;
  background-color: #fffce5;
}

#app {
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box {
  color: rgb(132, 122, 11);
  display: flex;
  flex-direction: column;
}

.container {
  width: 400px;
  height: 500px;
  padding: 10px;
}

.popup-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup-list__item {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #8e8e8e;
  background-color: #f8f9fa;
  border-radius: 2px;
  /* TODO handle this with JS */
  transition: transform 100ms ease;
}

.popup-list__item-modal {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  background-color: #f8f9fa;
  z-index: 101;
}

.popup-list__backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.display-show {
  display: flex;
}

.display-none {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popup-list__wrapper::-webkit-scrollbar {
  display: none;
}

.popup-list__wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
